.site{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    background: cover;
    margin: 0;
    padding: 0;
    height: 55.88px;
    background-color: white;
}

.top{
    width: 100%;
    background: cover;
    margin: 0;
    padding: 0;
    background-image: url(../image/top-img.png) no-repeat center center fixed;
}

.header{
    width: 100%;
    background: cover;
    margin: 0;
    padding: 0;
    background-color: #f5f6f7;
    text-align: center;
    height: 700px;
}

.button{
    padding: 28px 10px;
}

.footer{
    width: 100%;
    background: cover;
    margin: 0;
    padding: 0;
    background-color: white;
    height: 72px;
}